.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: lightgray;
}

.mat-card#first-card{
    padding: 0;
}

/*.mat-card#second-card{
    background-color: lightgray;
}

.mat-card#third-card{
    background-color: lightgray;
}

.mat-card#fourth-card{
    background-color: lightgray;
}

.mat-card#fifth-card{
    background-color: lightgray;
}

.mat-card#sixth-card{
    background-color: lightgray;
}*/

div#profile-background{
    display: flex;    
}

div#profile-background img{
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.profile-image {
    border-radius: 50%;
    margin-top: -110px;
    z-index: 1;
    max-width: 100%;
    height: auto;
}

.logo-arg-prog{
    margin-left: 20px;
}

#login{
    margin-top: 25px;
    margin-right: 10px;
    border: 3px solid;
    width: 4.5rem;
    height: 2.5rem;
}

#logo-ig{
    margin-top: 25px;
    margin-right: 20px;
}

#logo-fb{
    margin-top: 26px;
    margin-right: 20px;
}

ul{
list-style-type: none;
padding: 0;
margin: 0;
text-align: right;
}

li{
background-image: url(arrow.gif);
background-repeat: no-repeat;
background-position: 100% .4em;
padding-right: .6em;
}

#logo-conicet{
    margin-top: 25px;
}

#logo-unl{
    margin-top: 25px;
}

#logo-unl-2{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
}

#logo-intec{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
}

#logo-arg-programa-2{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
}

#logo-rg{
    margin-left: 20px;
    margin-right: 80px;
    margin-bottom: 15px;
    float: left;
}

.progress{
    height: 25px;
}